/*CSS cua TaskImage*/
  .task_img{
    overflow: hidden;
    float: left;
    width: 17%;
    box-sizing: border-box;
    padding: 10px;

  }
  .task_img video{
    height: 130px;
    width: 130px;
    border: 4px solid #75b79e;
    border-radius: 130px;
  }
  .task_img img{
    height: 130px;
    width: 130px;
    border: 4px solid #75b79e;
    border-radius: 130px;
  }
  .task_img input{
    width: 100%;
  }